@charset "utf-8";
/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-image: url("../../Documents/Unnamed Site 2/Screenshot 2024-11-07 23231.png");
}

.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.center {
    text-align: center;
}

/* Form Styles */
#loginForm {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.remember-me {
    margin-top: 10px;
}

input[type="checkbox"] {
    accent-color: #007bff;
}

/* Button Styles */
button {
    background-color: yellow;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 600px) {
    .login-container {
        padding: 10px;
    }
}

